mixin messages(success_msg)
    if (success_msg != '')
        .alert.alert-success.alert-dismissible.fade.show
            =success_msg
            button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;