extends shared/_master

block body
    .container
        .row.mt-5
            .col-md-6.m-auto
                .card.card-body.custom-card.text-center
                    h1
                        i.fab.fa-node-js.fa-3x
                    h2 Create an Account or Login
                    a.btn.btn-primary.btn.block.mb-2(href="/register") Register an Account
                    a.btn.btn-secondary.btn-block(href="/login") Login