body {
    background: url('/static/img/background.jpeg') center/cover no-repeat;
    height: 100vh;
    overflow: hidden;
}

.custom-card,
.register-card,
.login-card {
    background-color: #999;
    opacity: 0.92;
    border: 2px solid #fff;
}

.custom-card {
    margin-top: 20vh;
    padding-bottom: 40px;
}

.register-card {
    padding-bottom: 20px;
}

.login-card {
    margin-top: 8vh;
    padding-bottom: 40px;
}

.fa-node-js {
    color: #f00;
}

.custom-alert {
    padding: .5rem 1.25rem;
}

.custom-alert .close {
    padding: .1rem 1rem;
}

.custom-alert p {
    margin-bottom: 0;
    font-size: 12px;
}

.custom-alert span {
    font-size: 16px;
}